@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #150525;
  --foreground: #ededed;
  --primary: #D11B58;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
}

.active-link {
  color: var(--foreground);
  background: var(--primary);
  border-radius: 53px;
}
