@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #150525;
  --foreground: #ededed;
  --primary: #D11B58;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
}

.active-link {
  color: var(--foreground);
  background: var(--primary);
  border-radius: 53px;
}

.bg-circle {
  background-image: url('../assets/circle.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 75%;
}

.navbar {
  background: var(--background);
  color: var(--foreground);
  padding: 20px;
}

.title-with-background {
  background-image: url('../assets/bar.svg');
  background-repeat: no-repeat;
  background-size: contain;
  /* padding: 2.5rem; */
}