body {
    background: black;
    color: white;
}

.home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%
}

.home > .left {
    /*border: 2px solid yellow;*/
    float: left;
    align-items: flex-start;
    align-self: center;
    /*width: 48%;*/
}

.home > .right {
    /*border: 2px solid green;*/
    align-items: flex-end;
}

.lead {
    font-size: 42px;
}

.title {
    font-size: 62px;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.auto {
    margin: auto;
}