body {
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.home {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /*padding: 3em;*/
}

.home > .left {
    float: left;
    align-items: flex-start;
    align-self: center;
}

.home > .right {
    align-items: flex-end;
}

.lead {
    font-size: 42px;
}

.title {
    font-size: 62px;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.auto {
    margin: auto;
}

h3 {
    font-size: 32px;
    font-weight: lighter;
}

code {
    background: red;
    padding: .1em .2em;
}